#nav-panel .primary-list {
    margin-right: 6px;
}
#nav-panel .primary-list i.fa {
    padding-right: 4px;
}

div[role="main"] {
    position: absolute;
    top: 44px;
    right: 0;
    left: 0;
    bottom: 0;
}
.map-container {
    background-color: #ccddff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0; 
    left: 0; 
}
.ui-controlgroup-horizontal.toolbars .ui-controlgroup-controls {
    width: 100%;
}
.toolbar-item {
    display: inline-block;
    text-decoration: none;
}
.toolbar-item > a {
    display: block;
}
.toolbar-item i.fa, 
.toolbar-item .title {
    font-weight: normal;
    display: block;
    text-align: center;
}
.toolbar-item i.fa {
    color: #000;
}
.toolbar-item .title {
    color: #333;
    font-size: 0.75em;
    margin-top: 8px;
}

.toolbar-primary {
    float: left;
    width: 100%;
    margin-right: -33%;
    text-align: center;
}
.toolbar-primary .toolbar-content {
    margin-right: 33%;
}
.toolbar-secondary {
    float: left;
    width: 33%;
    text-align: center;
}

.toolbar-primary .toolbar-item {
    width: 11%; 
}
.toolbar-secondary .toolbar-item {
    width: 22%;
}

.fa-colour.fa-lg {
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

@media only screen and (max-width: 640px) { 
    .toolbar-item .title {
        display: none;
    }
    .fa.fa-lg {
        font-size: 1em;
    }
}
