<ul data-role="listview" data-inset="false" data-divider-theme="a" class="primary-list">
    <li data-role="list-divider">Projects</li>
    <!-- <li><a href="#"><span class="ui-link ui-btn-left ui-btn ui-icon-bars ui-btn-icon-notext ui-shadow ui-corner-all" style="margin:0;"></span> Add</a></li> -->
    <li data-icon="false"><a href="project.html"><i class="fa fa-plus-circle"></i> Add</a></li>
    <li data-icon="false"><a href="index.html" data-icon="bars"><i class="fa fa-list-alt"></i> List</a></li>
    <li data-role="list-divider">Media</li>
    <li data-icon="false"><a href="#"><i class="fa fa-plus-circle"></i> Add</a></li>
    <li data-icon="false"><a href="#"><i class="fa fa-list-alt"></i> List</a></li>
    <li data-role="list-divider">Settings</li>
    <li data-icon="false"><a href="#"><i class="fa fa-user"></i> Account Details</a></li>
    <li data-icon="false"><a href="#"><i class="fa fa-user fa-cog"></i> Remote Server</a></li>
    <li data-icon="false"><a href="#"><i class="fa fa-cloud-download"></i> Synchronise With Server</a></li>
</ul>
